/* .dropdown-toggle, .dropdown-item {
    cursor: pointer;
} */
img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-toggle:hover .drop-menu{
    opacity: 1;
    visibility: visible;
}

.drop-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #782c54 ;
    opacity: 0;
    visibility: visible;
}